[Unit]
After=forgejo-mysql.service
Requires=forgejo-mysql.service

[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:11

Pod=forgejo.pod
Network=forgejo.network
PublishPort=3000:3000
PublishPort=2222:22

Volume=forgejo-data:/data

Environment=USER_UID=1000
Environment=USER_GID=1000
Environment=FORGEJO__database__DB_TYPE=mysql
Environment=FORGEJO__database__HOST=db:3306
Environment=FORGEJO__database__NAME=forgejo
Environment=FORGEJO__database__USER=forgejo
Environment=FORGEJO__database__PASSWD=forgejo

[Service]
Restart=always

[Install]
WantedBy=default.target
