[Container]
ContainerName=db
Image=docker.io/library/mysql:8

Pod=forgejo.pod
Network=forgejo.network

Environment=MYSQL_ROOT_PASSWORD=forgejo
Environment=MYSQL_USER=forgejo
Environment=MYSQL_PASSWORD=forgejo
Environment=MYSQL_DATABASE=forgejo

Volume=mysql-data:/var/lib/mysql
